@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


.d-grid{
  display: grid;
  padding: 0 8vw;
  margin:0 auto;
  max-width: calc(1440px + 16vw);
  width:100%;
  grid-template-columns:repeat(12,1fr);
  grid-column-gap: 32px;
}
.area-top{
  grid-column: span 12;
  grid-row: span 1;
}
.area-header{
  grid-column:span 12;
  grid-row: span 1;
}
.area-body{
  grid-column: span 8;
  grid-row: span 1;
}
.area-rail{
  grid-column:span 4;
  grid-row: span 1;
}
.area-footer{
  padding: 0 8vw;
  margin:0 auto;
  max-width: calc(1440px + 16vw);
  padding: 0 3vw;
}

* {
  box-sizing: border-box;
}
